<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Add Product</title>

    <!-- Bootstrap core CSS-->
    <link href="http://localhost:8082/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="http://localhost:8082/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin.css" rel="stylesheet">
    <script src="./jquery-3.2.1.min.js"></script>




  </head>

  <body class="bg-dark">

    <div class=".container-fluid">
      <div class="card card-register mx-auto mt-5">
        <div class="card-header">Add Product</div>
        <div class="card-body">
          <form method="post" name="Product_insert">
            <div class="form-group">
              <div class="form-row">
              	<div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Tables</li>
          </ol>

              	
              	<div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Data Table Example</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Product Name</th>
                      <th>Catagory Name</th>
                      <th>Sub Catagory Name</th>
                      <th>Manufucturer Name</th>
                      <th>Made id</th>
                      <th>Created Date</th>
                      <th>Details</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Product Name</th>
                      <th>Catagory Name</th>
                      <th>Sub Catagory Name</th>
                      <th>Manufucturer Name</th>
                      <th>Made id</th>
                      <th>Created Date</th>
                      <th>Details</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    
                    <tr>
                      <% for(var i = 0; i < list.length; i++){ %>
                      <td><%=list[i].pro_name %></td>
                      <td><%=list[i].cat_name %></td>
                      <td><%=list[i].sub_cat_name %></td>
                      <td><%=list[i].man_name %></td>
                      <td><%=list[i].made_in %></td>
                      <td><%=list[i].createDate %></td>
                      <td><a href="/admin/insertProductDetails/<%= list[i].pro_id %>">Details</a></td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>

    <!-- Bootstrap core JavaScript-->
    <script src="http://localhost:8082/vendor/jquery/jquery.min.js"></script>
    <script src="http://localhost:8082/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="http://localhost:8082/vendor/jquery-easing/jquery.easing.min.js"></script>

  </body>

</html>
